.text {
  align-items: center;
  border: red solid 1px;
  text-align: center;
}

.correctChar {
  color: black;
}

.incorrectChar {
  color: rgb(211, 30, 30);
}

.untypedChar {
  color: gray;
}

.spaceChar {
  color: gray;
}

@media (prefers-color-scheme: dark) {
  .details div {
    color: white;
  }

  .correctChar {
    color: white;
  }

  .incorrectChar {
    color: rgb(255, 78, 78);
  }

  .untypedChar {
    color: #646669;
  }

  .spaceChar {
    color: #646669;
  }
}
